
.contact_container {
    background: #01FF70;
    width: 100vw;
    height: 100%;
    position: relative;
    top: 0px;
    bottom: 0px;
    z-index: 100;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 50px;
    grid-template-rows: 50px 1fr 1fr 1fr 50px ;
    grid-template-areas:
    ". .  . . ."
    ". wrapper wrapper wrapper . "
    ". wrapper wrapper wrapper . "
    ". wrapper wrapper wrapper . "
    ". .  . . .";

    .contact_wrapper {
        width: 100%;
        justify-self: center;
        grid-area: wrapper;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        padding: 0  40px;
        background-color: $main-dark-color;

        > h1 {
            grid-area: h1;
            color: #01FF70;
            font-size: $font-size-large;
            font-weight: $medium-font-weight;
        }

        > p {
            color: $main-light-color;
        }
    }
}