// @import '_variables';

.login_container {
    width: 100vw;
    height: 100%;
    position: relative;
    top: 0px;
    bottom: 0px;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:
    ". . ."
    ". wrapper ."
    ". . .";

    .login_wrapper {
        justify-self: center;
        grid-area: wrapper;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        box-shadow: $secondary-box-shadow;
        padding: 0  40px;
        background-color: $main-light-color-darker;

        > h1 {
            grid-area: h1;
            font-size: $font-size-large;
            font-weight: $medium-font-weight;
        }

        .login_form {
            display: flex;
            flex-direction: column;
            width: 300px;
            display: flex;
        
        }

        .login_form input {
        width: 90vw;
        width: 300px;
            height: 40px;
            margin-bottom: 5px;
        }
        
        .login_form input[type="text"], input[type="password"]{
            padding: 10px;
        }

        .login_form input[type="submit"] {
            font-size: $main-font-size;
            font-weight: $medium-font-weight;
            background-color: #01FF70;
            margin-top: 10px;
        }

        .login_register_btn {
            color: #2ECC40;
        }
    }
}