$main-dark-color: #0a0a0a;
$main-light-color: #fff;
$main-light-color-darker: darken($main-light-color, 2%);
$font-size-large: 20px;
$main-font-size: 12px;
$main-box-shadow: 0 0 4px 0 rgba(0,0,0,.15);
$secondary-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
$secondary-font-size: 10px;
$medium-font-weight: 600;