@import '_variables';
@import 'nav';
@import 'main';
@import '_footer';
@import '_login';
@import '_signup';
@import '_addBike';
@import '_mobile';

* {
    box-sizing: border-box;
}

html,
body  {
    height: 100%;
}

body {
    background-color: #fff;
    font-family: Verdana, sans-serif;
    line-height: 1.2; 
    padding:  0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

a {
    color: $main-light-color;
}

.list-item-style {
    list-style: none;
    font-weight: 400;
    color: $main-light-color;
}

.error_message {
    text-align: center;
    vertical-align: middle;
    font-size: $main-font-size;
    font-weight: $medium-font-weight;
    background: #e74c3c;
    padding: 10px;
}