.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #0a0a0a; }

.nav_list {
  display: grid;
  margin: 10 0;
  grid-template-areas: "logo input home addBike contact";
  align-items: center;
  padding: 0; }
  .nav_list .logo {
    grid-area: logo;
    justify-self: start;
    padding-left: 3vw; }
  .nav_list .input {
    grid-area: input;
    justify-self: center; }
    .nav_list .input input {
      width: 35vw;
      font-size: 12px; }
  .nav_list .home {
    grid-area: home;
    justify-self: center;
    font-size: 12px; }
  .nav_list .addBike {
    grid-area: addBike;
    justify-self: center;
    font-size: 12px; }
  .nav_list .login {
    justify-self: center;
    grid-area: contact;
    padding-right: 3vw;
    font-size: 12px;
    border: 1px solid #fff;
    padding: 5px; }
  .nav_list .nav_list_item > img {
    max-width: 8vw;
    filter: invert(1); }
  .nav_list .nav_list_item a {
    text-decoration: none; }

#main {
  position: fixed; }

.product_list_wrapper {
  overflow-y: scroll;
  height: 100%; }

.product_list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 7px;
  padding: 0;
  margin: 0; }
  .product_list .product_list_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #fafafa;
    margin-bottom: 10px; }
    .product_list .product_list_item:hover {
      box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2); }
    .product_list .product_list_item div {
      display: flex;
      flex-grow: 2;
      align-items: center; }
    .product_list .product_list_item img {
      width: 100%;
      max-height: 150px;
      object-fit: cover;
      border: 3px #fff solid; }
    .product_list .product_list_item p {
      width: 15vw;
      font-size: 10px;
      font-weight: 600;
      margin: 10px auto;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  color: #fff;
  background-color: #0a0a0a; }
  .footer .footer_list {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .footer .footer_list_item {
    padding: 10px; }

.login_container {
  width: 100vw;
  height: 100%;
  position: relative;
  top: 0px;
  bottom: 0px;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: ". . ." ". wrapper ." ". . ."; }
  .login_container .login_wrapper {
    justify-self: center;
    grid-area: wrapper;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 0  40px;
    background-color: #fafafa; }
    .login_container .login_wrapper > h1 {
      grid-area: h1;
      font-size: 20px;
      font-weight: 600; }
    .login_container .login_wrapper .login_form {
      display: flex;
      flex-direction: column;
      width: 300px;
      display: flex; }
    .login_container .login_wrapper .login_form input {
      width: 90vw;
      width: 300px;
      height: 40px;
      margin-bottom: 5px; }
    .login_container .login_wrapper .login_form input[type="text"], .login_container .login_wrapper input[type="password"] {
      padding: 10px; }
    .login_container .login_wrapper .login_form input[type="submit"] {
      font-size: 12px;
      font-weight: 600;
      background-color: #01FF70;
      margin-top: 10px; }
    .login_container .login_wrapper .login_register_btn {
      color: #2ECC40; }

.signup_container {
  width: 100vw;
  height: 100%;
  position: relative;
  top: 0px;
  bottom: 0px;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: ". . ." ". wrapper ." ". . ."; }
  .signup_container .signup_wrapper {
    justify-self: center;
    grid-area: wrapper;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 0  40px;
    background-color: #fafafa; }
    .signup_container .signup_wrapper > h1 {
      grid-area: h1;
      font-size: 20px;
      font-weight: 600; }
    .signup_container .signup_wrapper .signup_form {
      display: flex;
      flex-direction: column;
      width: 300px;
      display: flex; }
    .signup_container .signup_wrapper .signup_form input {
      width: 90vw;
      width: 300px;
      height: 40px;
      margin-bottom: 5px; }
    .signup_container .signup_wrapper .signup_form input[type="text"], .signup_container .signup_wrapper input[type="password"], .signup_container .signup_wrapper input[type="email"] {
      padding: 10px; }
    .signup_container .signup_wrapper .signup_form input[type="submit"] {
      font-size: 12px;
      font-weight: 600;
      background-color: #01FF70;
      margin-top: 10px;
      margin-bottom: 30px; }

.addBike_container {
  background: yellow;
  width: 100vw;
  height: 100%;
  position: relative;
  top: 0px;
  bottom: 0px;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: ". . ." ". wrapper ." ". . ."; }
  .addBike_container .addBike_wrapper {
    justify-self: center;
    grid-area: wrapper;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 0  40px;
    background-color: #fafafa; }
    .addBike_container .addBike_wrapper > h1 {
      grid-area: h1;
      font-size: 20px;
      font-weight: 600; }
    .addBike_container .addBike_wrapper .addBike_form {
      display: flex;
      flex-direction: column;
      width: 300px;
      display: flex; }
    .addBike_container .addBike_wrapper .addBike_form input {
      width: 90vw;
      width: 300px;
      height: 40px;
      margin-bottom: 5px; }
    .addBike_container .addBike_wrapper .addBike_form input[type="text"], .addBike_container .addBike_wrapper input[type="password"], .addBike_container .addBike_wrapper input[type="email"] {
      padding: 10px; }
    .addBike_container .addBike_wrapper .addBike_form input[type="submit"] {
      font-size: 12px;
      font-weight: 600;
      background-color: #01FF70;
      margin-top: 10px;
      margin-bottom: 30px; }

@media only screen and (max-width: 600px) {
  .product_list {
    grid-template-columns: repeat(2, 1fr); } }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  background-color: #fff;
  font-family: Verdana, sans-serif;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh; }

a {
  color: #fff; }

.list-item-style {
  list-style: none;
  font-weight: 400;
  color: #fff; }

.error_message {
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
  background: #e74c3c;
  padding: 10px; }
